@font-face {
    font-family: 'bigila bold';
    src: url(Fonts/Bigilla-Bold.otf);
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
position: sticky;
top: 20px;
background-color: #ffffff;
padding: 10px 0;
z-index: 1000;
display: inline-block;
padding: 10px;}


.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: ;
}

.navbar li {
    margin: 0 20px;
}

.navbar a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 5px 0px;
    display: block;
    
    font-size: 20px;
    transition: color 0.3s ease, transform 0.3s ease;
    

}




.navbar a:hover {
    
    color: #FF520E;
    transform: scale(1.1); /* ოდნავ გადიდება */
    
}


.content {
    padding: 20px;
    height: 2000px; /* Example content height for scrolling */
}




.homepage-photo{
    width: 90%;
    

}


.skills-photo{
    width:100%;
    

}

.contact{
    width:100%;
}
p5{
    position: absolute;
    margin-top: -25%;
    left: 4%;
    font-family: 'bigila bold';
    
    
 }
 p6{
    position: absolute;
    margin-top: -18%;
    left: 4%;
    font-family: 'bigila bold';
 }
 p7{
    position: absolute;
    margin-top: -10%;
    left: 4%;
    font-family: 'bigila bold';
    
 }