/* საერთო სტილი */
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  /* ნავიგაციის სტილი */
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #ddd; /* ქვედა საზღვარი */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* დამატებითი სიშორე */
    z-index: 1000; /* რათა გარეთ სცენარებზე იყოს */
  }
  
  .nav-list {
    display: flex;
    margin-left: 20px;
    list-style: none;
    padding: 10px 0;
    margin: 0;
  }
  
  .nav-list li {
    margin: 0;
  }
  
  .nav-list a {
    display: block;
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
    font-size: 18px;
  }
  
  .nav-list a:hover {
    color: #b73636;
  }
  
  /* კონტენტის სტილი */
  .content {
    padding: 60px 20px 20px; /* ზედა პადინგი ჰორიზონტალური ნავიგაციის სიგანის გათვალისწინებით */
  }
  
  /* პატარა ეკრანების მორგება */
  @media (max-width: 768px) {
    .nav-list {
      flex-direction: column;
     
    }
  
    .nav-list a {
      padding: 15px;
      font-size: 16px;
    }
  
    .content {
      padding: 70px 10px 10px; /* დამატებითი პადინგი, საჭიროების შემთხვევაში */
    }
  }



  .photo{
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2 სვეტი, თითო თითოეული სვეტი 50% */
  gap: 20px; /* ფოტოების შორის მანძილი */
  max-width: 100%

  }
  .photo img{
    display: grid;

  gap: 20px; /* ფოტოების შორის მანძილი */
  max-width: 200%;

  margin-top: 40%;
  margin-left:0%;
  width: 120%;
  padding: 0 20px; /* დაშორება კიდეებიდან */
 }



 .photo1{
  display: flex;
  grid-template-columns: 1fr 1fr; /* 2 სვეტი, თითო თითოეული სვეტი 50% */
  gap: 20px; /* ფოტოების შორის მანძილი */
  max-width: 100%

  }
  .photo1 img{
    display: flex;

  max-width: 70%;

  margin-top: -60%;
  margin-left:50%;
  width: 120%;
  padding: 0 20px; /* დაშორება კიდეებიდან */
 }

 

 


