
@font-face {
    font-family: 'mansalva';
    src: url(Fonts/Mansalva-Regular.ttf);
}
@font-face {
  font-family: 'bn melody bold';
  src: url(Fonts/BLMelody-Bold.otf);
}
@font-face {
  font-family: 'bn melody light';
  src: url(Fonts/BLMelody-Light.otf);
}
@font-face {
  font-family: 'bn melody book';
  src: url(Fonts/BLMelody-Book.otf);
}





/* ნავბარი*/
/* ნავიგაციის სტილი */

.navbar {
   
  top: 0;
  left: 0;
  width: 100%;
  
  
  z-index: 9999; /* ძალიან მაღალი მნიშვნელობა */
}


.nav-list {
display: flex;
position: fixed;
 /* ან შიგნით განლაგება */
list-style: none;
padding: 10px 0;
margin-top: -320px;
background-color: white;
}

.nav-list li {
margin: 0;
}

.nav-list a {

display: block;
padding: 10px 20px;
color: #333;
text-decoration: none;
font-size: 22px;
font-family:Arial, Helvetica, sans-serif;
transition: color 0.3s ease, transform 0.3s ease;
}

.nav-list a:hover {
color: #FE5C2B;
transform: scale(1.1); /* ოდნავ გადიდება */
    
}

/* ნავიგაციის სტილი */


/* პატარა ეკრანების მორგება */
@media (max-width: 768px) {
  .nav-list {
      
      align-items: flex-start;
  }

  .nav-list a {
      padding: 10px;
      font-size: 16px;
  }
}

/* სხვა კონტენტი */
body {
  margin: 0;
  padding: 0;
  padding-top: 0px; /* სივრცე ნავბარისთვის */
  color: #1b1a1a;
  font-family: 'bn melody book';
  text-transform: uppercase;
  
}


  /* პირველი პროექტი */
.projects{
  display: flex; /* სვეტების ან ჰორიზონტალური განლაგება */
  justify-content:flex-start; /* სივრცის განაწილება */
  gap: 5px;
  flex-wrap: wrap; /* ელემენტების გადატანა სხვა ხაზზე */
  margin-top: -10px;
  
}
.project1 img{
  
  margin-left:0;
  width: 50%;
  padding: 0 0px; 
  background-color: white;
  padding-right: 50%;
  
  display: block;
  
  
  
}




.text h3 {
    
    margin-left: 51%;
    margin-top: -25%;
    font-size: 2vw;
    color: #1f1f1f;
    text-decoration: none;
    font-family: 'bn melody book';
    font-weight: 1;
    
    
}
.text p{
    margin-left: 51%;
    margin-top: 17%;
    font-size: 4vw;
    color: #1b1a1a;
    text-decoration: none; 
    
    
}

.project1 img:hover{
    background-color: rgb(239, 239, 239);
    transition: background-color 0.3s ease;
}




/* text */ 
.text-container{
  display: flex;
  justify-content: space-between; /* სივრცის განაწილება */
  gap: 0px; /* ელემენტების შორის სივრცე */
  flex-wrap: wrap; /* ელემენტების გადატანა სხვა ხაზზე */
  margin-top: 320px;
}








.text-container h1{
  display: flex;
  margin-left: calc(8px + 1%);
  margin-right: 0;
  margin-top: -5px;
  font-size: 7vw;
  
  

}
.text-container p{
  display: flex;
  margin-left: calc(10px + 1%);
  margin-top: -40px;
  font-size: 2rem;
  margin-right: 400px;
}

.text-container h2{
  display: flex;
  margin-left: calc(8px + 1%);
  margin-right: 0;
  font-family: 'mansalva';
  font-size: 5vw;
  margin-top: 70px;
}



/* MEDIA */

@media (max-width: 768px){
.text-container h1{
  margin-left: calc(10px + 1%);
  margin-top: 10px;
  font-size: 8vw;
}
.text-container p{
  margin-left: calc(10px + 1%);
  font-size: 4rem;
  margin-right: 50px;
}

.project1 img{
  width: 100%;
  padding-right: 0%;
 
  }

  .projects{
    gap: 10px;
}
.text h3 {
    
  margin-left:0%;
  margin-top: 4%;
  font-size: 4rem;
  color: #1f1f1f;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 1;
  
}
.text p{
  margin-left: 0%;
  margin-top: 4%;
  font-size: 7vw;
  color: #1b1a1a;
  text-decoration: none;

}
.text-container h2{
  display: flex;
  margin-left: calc(8px + 1%);
  margin-right: 0;
  font-family: 'mansalva';
  font-size: 5vw;
  margin-top: -110px;
}
}

.nav-list a.active {
  color:  #FE5C2B;; /* ფერის შეცვლა, მაგალითად, წითელი */
 
  
}











